Source: android-n7-2013-wifi-aosp
Section: android
Priority: extra
Maintainer: Ryan Kuester <rkuester@insymbols.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd (>= 1.5)
Standards-Version: 3.9.3

Package: android-n7-2013-wifi-aosp
Provides: android
Conflicts: android
Architecture: armhf
Depends: ${misc:Depends}
Description: AOSP Android for Nexus 7 (2013 Wi-Fi model)
 This package contains Android from AOSP for the Nexus 7 2013 Wi-Fi
 model.
 .
 This package is a part of Pragmatux (http://pragmatux.org).
